<div class="container mt-3">
    <h2>Pick Sheets</h2>
    <br>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>PickSheet Number</th>
                <th>Shipment Number</th>
                <th>PickSheet Date</th>
                <th>Delivery Date</th>
                <th>RouteID</th>
                <th>Bay</th>
                <th>Bin</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pickSheet of pickSheets | paginate: { id: 'pickSheet_pagination',
                    itemsPerPage: 5, currentPage: page, totalItems: totalRecords }">
                <ng-container *ngIf="!pickSheet.deleted">
                    <td>{{pickSheet.pick_sheet_number}}</td>
                    <td>{{pickSheet.shipment_number}}</td>
                    <td>{{pickSheet.pick_sheet_date}}</td>
                    <td>{{pickSheet.delivery_date}}</td>
                    <td>{{pickSheet.routeID}}</td>
                    <td>{{pickSheet.bay}}</td>
                    <td>{{pickSheet.bin}}</td>
                    <td>{{pickSheet.quantity}}</td>
                    <td>
                        <button (click)="openDialog(pickSheet.id)" type="button" class="btn btn-outline-primary me-2">
                            <mat-icon aria-label="edit icon" fontIcon="edit"></mat-icon>
                        </button>
                        <button (click)="deletePickSheet(pickSheet.id)" type="button" class="btn btn-outline-danger me-2">
                            <mat-icon aria-label="delete icon" fontIcon="delete"></mat-icon>
                        </button>
                        <button (click)="details(pickSheet.id)" type="button"
                            class="btn btn-outline-info">Details</button>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <div>
        <pagination-controls id="pickSheet_pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>