<div class="container mt-3">
    <button type="button" class="btn btn-default btn-sm" (click)="cancel()" style="float: right;">
        <mat-icon aria-label="close icon" fontIcon="close"></mat-icon>
    </button>
    <h2>PickSheet Details</h2>
    <br>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Zone</th>
                <th>Pack</th>
                <th>Flavour</th>
                <th>Hands</th>
                <th>Layers</th>
                <th>Total Cases</th>
                <th>SKU</th>
                <th>Actions</th>
        
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let details of pickSheetDetails | paginate: { id: 'pickSheet_details_pagination',
            itemsPerPage: 5, currentPage: page, totalItems: totalRecords }">
                <td>{{details.zone}}</td>
                <td>{{details.pack}}</td>
                <td>{{details.flavour}}</td>
                <td>{{details.hands}}</td>
                <td>{{details.layers}}</td>
                <td>{{details.total_cases}}</td>
                <td>{{details.SKU}}</td>
                <td>
                    <button (click) = "openDialog(details.id)" type="button" class="btn btn-outline-primary me-2">
                        <mat-icon aria-label="edit icon" fontIcon="edit"></mat-icon>
                    </button>
                    <!-- <button (click) = "deletePickSheetDetails(details.id)" type="button" class="btn btn-outline-danger">Delete</button> -->
                </td>

            </tr>
        </tbody>
    </table>
    <div>
        <pagination-controls id="pickSheet_details_pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
